@mixin series($prop) {
    @each $series, $color in $series-colors {
        &[data-series='#{$series}'] {
            #{$prop}: $color;
        }
    }
}

.nhs-chart {
    display: block;
    overflow: visible;
}

.nhs-chart__tic {
    stroke: #ebebeb;
    stroke-width: 1;
    stroke-dasharray: 2,2;

    &:first-child {
        stroke-width: 4;
        stroke-dasharray: 0;
    }
}

.nhs-chart__series {
    @include series(stroke);
    stroke-width: 3;
    fill: none;
}
