body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    color: #333;
    @include fs-bodyCopy(2);
}

p {
    margin: 0 0 8px;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.nhs-header,
.nhs-sections {
    margin: 0 auto;
    box-sizing: border-box;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.nhs-methodology-headline {
    @include fs-header(1);
    margin: 0 0 6px;
}

.nhs-methodology-copy {
    @include fs-bodyCopy(1);
    margin: 0 0 12px;
}

.nhs-number {
    @include f-header;
    color: $nhs;
    margin: 0;

    font-size: 150px;
    line-height: 160px;
    @include mq(mobileLandscape) {
        font-size: 200px;
        line-height: 210px;
    }
}

.nhs-copy {
    max-width: 600px;
}
