.nhs-sections {
    position: relative;
    list-style: none;
    background-color: white;
}

.nhs-section {
    box-sizing: border-box;
    max-width: 960px;

    padding-bottom: 36px;
    margin-top: 12px;
    &:first-child {
        margin-top: 0;
    }

    border-bottom: 1px solid #bdbdbd;
    &:last-child {
        border-bottom: 0;
    }

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.nhs-section__headline {
    @include fs-header(2);
    margin: 0 0 6px;

    @include mq(leftCol) {
        position: absolute;
        left: 20px;
        width: 140px;
    }
    @include mq(wide) {
        width: 220px;
    }
}

.nhs-section__stat {
    @include fs-headline(6);
}

.nhs-section__key {
    @include fs-textSans(2);
    list-style: none;
    padding: 0;
    margin: 0 0 12px;

    & > li {
        display: inline-block;
        margin-right: 10px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
            border-radius: 100px;
        }

        @each $series, $color in $series-colors {
            &[data-series='#{$series}']::before {
                background-color: $color;
            }
        }
    }
}

.nhs-section__chart {
    width: 100%;
    max-width: 660px;
    height: 220px;
}
