.nhs-sections {
    position: relative;
    list-style: none;
    background-color: white;
}

.nhs-section {
    box-sizing: border-box;
    max-width: 960px;
    overflow: hidden;

    padding-bottom: 24px;
    margin-top: 12px;
    &:first-child {
        margin-top: 0;
    }

    border-bottom: 1px solid #eaeaea;
    &:last-child {
        border-bottom: 0;
    }

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }

    &.nhs-section--heading {
        border-bottom: 0;
        border-top: 1px solid #bdbdbd;
        padding-top: 12px;
        margin-top: -1px;

        .nhs-section__headline {
            @include fs-headline(9, $size-only: true);
            font-weight: 200;
            margin: 0;
        }
    }

    &.nhs-section--salaries {
        border-bottom: 0;
    }
}

.nhs-section__header {
    @include fs-header(2);
    margin: 0 0 6px;

    @include mq(leftCol) {
        position: absolute;
        left: 20px;
        width: 140px;
    }
    @include mq(wide) {
        width: 220px;
    }
}

.nhs-section__headline {
    @include fs-headline(5);
    font-weight: 200;
    max-width: 660px;
    @include mq(tablet) {
        @include fs-headline(6, $size-only: true);
    }

    b {
        font-weight: 600;
    }
}

.nhs-section__chart {
    max-width: 660px;
    height: 190px;
    @include mq(tablet) {
        height: 260px;
    }
    @include mq(leftCol) {
        margin-left: -50px;
    }
}

.nhs-section__map {
    width: 300px;
    height: 350px;
}
