$nhs: #69d1ca;
$series-colors: (
    '2013/14': #dcdcdc,
    '2014/15': #bdbdbd,
    '2015/16': $nhs
);

@import "fonts";
@import "mq";
@import "chart";

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nhs-embed-headline {
    @include fs-headline(5);
    font-weight: 200px;
    margin: 0 0 8px;

    b {
        font-weight: 600;
    }
}

.nhs-embed-chart {
    width: 100%;
    height: 190px;
    @media (min-width: 600px) {
        height: 260px;
    }
}

.nhs-embed-btn {
    @include fs-textSans(2);
    font-weight: bold;
    line-height: 30px;
    padding: 0 5px 0 12px;
    border-radius: 100px;
    background: #005689;
    color: white;
    float: right;
    &,
    &:hover {
        text-decoration: none;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.nhs-embed-salary {
    @include f-headline;
    margin: 0;
    color: $nhs;
    font-size: 90px;
    line-height: 96px;
    @media (min-width: 600px) {
        font-size: 200px;
        line-height: 210px;
    }

    &::before {
        content: "£";
    }
}

.nhs-source {
    @include fs-textSans(2);
    color: #bdbdbd;
    margin: 0 0 8px;
}
