@import "fonts";
@import "mq";

$series-colors: (
    '2013/14': #dcdcdc,
    '2014/15': #bdbdbd,
    '2015/16': white
);

@import "chart";

html,
body {
    overflow: hidden;
}

body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #8ed4ce;
    color: white;
}

.nhs-snaps {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.nhs-snap {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 220px;
    height: 330px;
    padding: 10px;

    &:nth-child(odd) {
        background-color: #6ec2bd;
    }
    &:nth-child(even) {
        .nhs-snap__header {
            color: #2c3979;
        }
    }
}

.nhs-snap__header {
    @include f-header;
    font-size: 14px;
    line-height: 18px;
    color: white;
    margin: 0 0 6px;
}

.nhs-snap__headline {
    @include fs-headline(5);
    color: #333;
    margin:  0 0 12px;
}

.nhs-snap__chart {
    margin-top: 6px;
    height: 100px;

    .nhs-chart__y-tic {
        stroke-dasharray: 0;
    }

    .nhs-chart__y-tic-label {
        fill: none;
        &:first-child,
        &:last-child {
            fill: white;
        }
    }
}
