@import "fonts";
@import "mq";

$series-colors: (
    '2013/14': #ff9b0b,
    '2014/15': #767676,
    '2015/16': #5bc4bf
);

@import "chart";

html,
body {
    overflow: hidden;
}

body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

.nhs-snaps {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.nhs-snap {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 300px;
    height: 330px;
    padding: 20px;

    &:nth-child(odd) {
        background-color: #dcdcdc;
    }
}

.nhs-snap__header {
    @include f-header;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 6px;
}

.nhs-snap__headline {
    @include fs-headline(5);
    margin:  0 0 12px;
    height: 96px;
}

.nhs-snap__key {
    & > li {
        margin-right: 5px;
        &::before {
            margin-right: 3px;
        }
    }
}

.nhs-snap__chart {
    margin-top: 6px;
    height: 100px;

    .nhs-chart__y-tic {
        stroke: #bdbdbd;
    }

    .nhs-chart__y-tic-label {
        fill: none;
        &:first-child,
        &:last-child {
            fill: #333;
        }
    }

    .nhs-chart__x-tic-label {
        fill: #333;
    }
}
